<table>
  <tbody>
    <tr>
      <th>Comment count settings : </th>
      <td>
          <input type="text" id="comment_settings" 
                 value="<%= settings['comment_settings'] %>" 
                 name="settings[comment_settings]" >
      </td>
    </tr>
  </tbody>
</table>